<form role='form' #dialogForm='ngForm' name='dialogForm'>
  <h2 class='dialog-header' mat-dialog-title>{{ strings.changePassword | titlecase }}</h2>

  <mat-dialog-content>
    <div fxLayout='column' class='dialog-content'>
      <mat-form-field fxFlex='1 1 100%'>
        <input matInput type='password' name='newPassword'
               placeholder="{{strings.newPassword | titlecase}}"
               [(ngModel)]='newPassword' #newPasswordModel='ngModel'
               required>
        <mat-error *ngIf="newPasswordModel.hasError('required')">
          {{strings.requiredFieldError | titlecase}}
        </mat-error>
      </mat-form-field>
    </div>

  </mat-dialog-content>

  <div mat-dialog-actions fxLayout='row' fxLayoutGap='8px' align='end'>
    <div class='flex-separator'></div>

    <button mat-stroked-button type='button' class='auto-bordered-form-button' color='accent'
            (click)='onClose()'>
      {{strings.cancel | uppercase}}
    </button>

    <button mat-raised-button type='submit' class='auto-form-button' color='accent'
            (click)='onSubmit(dialogForm)' [disabled]='!dialogForm.valid'>
      {{strings.save | uppercase}}
    </button>
  </div>

</form>
