@import '../../../styles/variables.scss';

.header-container{
    width: 100%;
    margin-right: 100px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: flex;
}

.header{
    text-align: center;
    display: flex;
    font-size: $dialog-header;
    line-height: $dialog-header;
    color: $primary;
    font-weight: bold;
}

.login-card{
  margin: auto;
  max-width: 500px;
  width: calc(100% - 30px);
}

.login-component{
  height: 100%;
}

form {
  height: calc(100vh);
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: $primary;
}

.actions button {
  margin-right: 10px;
  margin-top: 10px;
}
