<form #askResetPasswordForm="ngForm" name="askResetPasswordForm" class="full-page-form custom-dialog">
  <mat-card class="main-card" fxLayout="column" fxLayoutGap="10px">

    <div fxLayout="row">
      <img class="logo" src="assets/images/logo.svg" fxFlexAlign="center">
      <div class="header-container" fxFlexAlign="center">
        <span class="header">
          {{strings.resetYourPassword}}
        </span>
      </div>
    </div>

    <div class="devider"></div>

    <app-form-label [text]="strings.resetEmailExplanation"></app-form-label>
    <mat-form-field floatLabel="never" class="form-field">
      <input required [(ngModel)]="data.email" matInput name="email" #emailModel="ngModel" />
      <mat-error *ngIf="emailModel.hasError('required')">{{strings.requiredFieldError}}</mat-error>
    </mat-form-field>

    <button
      mat-raised-button
      class="form-button"
      color="primary"
      fxFlexAlign="end"
      type="submit"
      (click)="onSubmit(askResetPasswordForm)"
      [disabled]="!askResetPasswordForm.valid"
    >
      {{strings.submit | titlecase}}
    </button>

  </mat-card>
</form>
<div class="bg-img"></div>
