@import '../../../styles/variables.scss';

.sidenav-container {
  height: 100%;
  width: $sidenav_width;
  padding: 20px;
  font-weight: bold;
}

.with-icon {
  vertical-align: center;
}

mat-icon {
  font-size: 18px;
  height: 18px;
  width: 18px;
  line-height: 18px;
  font-weight: bold;
}

.not-bold {
  font-weight: 400;
}

.action-button {
  font-weight: bold;
}

.header-label{
  font-family: $nunito;
  font-weight: 800;
  font-size: 20px;
}

.subheader-label{
  font-family: $nunito;
  font-weight: 800;
  font-size: 20px;
}

.action-buttons-container {
  width: 100%;
  padding: 0 8px;
  box-sizing: border-box;
}

.sidenav-action-button {
  width: 100%;
  min-width: 120px;
}