.container {
  flex-direction: column;
  box-sizing: border-box;
  display: flex;
  place-content: stretch flex-start;
  align-items: stretch;
  height: 100%;
  flex: 1 1 auto;
  overflow: hidden;
}

.header-row {
  flex-direction: row;
  box-sizing: border-box;
  display: flex;
  place-content: stretch flex-start;
  align-items: center;
  justify-content: center;
  height: 60px;
  margin-bottom: 10px;
  padding-right: 10px;
  gap: 10px;
}

.grid-item{
  height: 100%;
}
