@import '../../../../styles/variables.scss';

mat-dialog-content {
  max-width: 500px;
  width: 300px !important;
}

.confirm-text {
  margin-bottom: 8px;
}

.dialog-header{
  font-family: $nunito;
  font-size: 12pt;
}

.content{
  font-family: $roboto;
  font-size: 10pt;
}
