<h1 mat-dialog-title>{{strings.addTeacher}}</h1>

<mat-dialog-content fxLayout="column">
  <mat-form-field fxFlex="1 1 100%">
    <mat-label>{{strings.teacher | titlecase}}</mat-label>
    <mat-select matInput name="teacher" #teacher="ngModel" [(ngModel)]="dialogData.selectedTeacher" required>
      <mat-option *ngFor="let teacher of dialogData.teachers" [value]="teacher">{{teacher.fullName}}</mat-option>
    </mat-select>
    <mat-error *ngIf="teacher.hasError('required')">
      {{strings.requiredFieldError | titlecase}}
    </mat-error>
  </mat-form-field>
</mat-dialog-content>

<mat-dialog-actions align="center">
  <button mat-stroked-button type='button' class='auto-bordered-form-button' color='accent' (click)='onClose()'>
    {{ (strings.cancel) | uppercase }}
  </button>

  <button mat-raised-button type='submit' class='auto-form-button' color='warn' (click)='onSubmit()'>
    {{ (strings.submit) | uppercase }}
  </button>
</mat-dialog-actions>