@import '~@angular/material/theming';

@mixin student-quiz-assignment-results-color($config-or-theme) {
  $color-config: mat-get-color-config($config-or-theme);
  $primary-palette: map-get($color-config, 'primary');
  $accent-palette: map-get($color-config, 'accent');

  .footer-column-colored {
    background-color: mat-color($primary-palette, 500);
    color: mat-color($accent-palette, A100);
  }
}

@mixin student-quiz-assignment-results-theme($theme) {
  $color: mat-get-color-config($theme);

  @if $color != null {
    @include student-quiz-assignment-results-color($color);
  }
}
