.container {
  min-height: calc(100vh - 100px);
}

.quiz-path {
  font-weight: bold;
  margin: 20px;
}

.quiz-content {
  margin: auto;
  border-radius: 20px;
  padding: 20px;
  max-width: 550px;
  min-width: 350px;
}
