<form role="form" #dialogForm="ngForm" name="dialogForm">
  <h2 class="dialog-header" mat-dialog-title>{{strings.node | titlecase}}</h2>

  <mat-dialog-content>
    <div fxLayout="column" class="dialog-content">
      <mat-form-field fxFlex="1 1 100%">
        <input matInput name="name" [(ngModel)]="data.name" #name="ngModel" placeholder="{{strings.name | titlecase}}"
          required appAutofocus>
        <mat-error *ngIf="name.hasError('required')">
          {{strings.requiredFieldError | titlecase}}
        </mat-error>
      </mat-form-field>
      <mat-checkbox *ngIf="data.isAvailabilityVisible" name="isAvailableForStudent"
                                    [(ngModel)]="data.isAvailableForStudent">
                                    {{strings.isAvailableForStudent}}
                                </mat-checkbox>
    </div>

  </mat-dialog-content>

  <div mat-dialog-actions fxLayout="row" fxLayoutGap="8px" fxLayoutAlign="space-between">
    <button mat-raised-button class="auto-form-button" (click)="onDelete()" type="submit"
      [disabled]="!data.isDeleteVisible" color="warn">
      {{strings.delete | uppercase}}
    </button>

    <div fxLayout="row" fxLayoutGap="8px">
      <button mat-stroked-button class="auto-bordered-form-button" color="accent" (click)="onClose()" type="button">
        {{strings.cancel | uppercase}}
      </button>

      <button mat-raised-button class="auto-form-button" color="accent" (click)="onSubmit(dialogForm)"
        [disabled]="!dialogForm.valid" type="submit">
        {{strings.save | uppercase}}
      </button>
    </div>
  </div>

</form>