$biology_primary: (
    50 : #e0e9ef,
    100 : #b3c8d6,
    200 : #80a4bb,
    300 : #4d7f9f,
    400 : #26638b,
    500 : #004876,
    600 : #00416e,
    700 : #003863,
    800 : #003059,
    900 : #002146,
    A100 : #7aacff,
    A200 : #478bff,
    A400 : #146bff,
    A700 : #005dfa,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #ffffff,
        A700 : #ffffff,
    )
);

$biology_accent: (
  50 : #e0f4fb,
  100 : #b3e3f5,
  200 : #80d0ef,
  300 : #4dbde9,
  400 : #26afe4,
  500 : #00a1df,
  600 : #0099db,
  700 : #008fd7,
  800 : #0085d2,
  900 : #0074ca,
  A100 : #EDEDED,
  A200 : #bfe0ff,
  A400 : #D2EBF8,
  A700 : #73bbff,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #fafafa,
    600 : #D2EBF8,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);

$chemistry_primary: (
  50 : #e2ebe5,
    100 : #b6ccbf,
    200 : #85aa95,
    300 : #54886a,
    400 : #2f6f4a,
    500 : #0A552B,
    600 : #094e25,
    700 : #07441f,
    800 : #053b19,
    900 : #032a0f,
    A100 : #64ff85,
    A200 : #31ff5d,
    A400 : #00fd36,
    A700 : #00e431,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$chemistry_accent: (
  50 : #e5f4e8,
  100 : #bde3c5,
  200 : #91d19f,
  300 : #65be78,
  400 : #44b05b,
  500 : #22A23E,
  600 : #1f9a38,
  700 : #1a9030,
  800 : #158628,
  900 : #0c751b,
  A100 : #a7ffb0,
  A200 : #74ff83,
  A400 : #A7D4B5,
  A700 : #27ff3f,
  contrast: (
      50 : #000000,
      100 : #000000,
      200 : #000000,
      300 : #000000,
      400 : #000000,
      500 : #ffffff,
      600 : #ffffff,
      700 : #ffffff,
      800 : #ffffff,
      900 : #ffffff,
      A100 : #000000,
      A200 : #000000,
      A400 : #000000,
      A700 : #000000,
  )
);

$physics_primary: (
  50 : #e5eff0,
  100 : #bfd7db,
  200 : #94bdc3,
  300 : #69a2aa,
  400 : #488e98,
  500 : #213F48,
  600 : #24727e,
  700 : #1e6773,
  800 : #185d69,
  900 : #0f4a56,
  A100 : #EDEDED,
  A200 : #8deaff,
  A400 : #27d7ff,
  A700 : #0ed2ff,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);

$physics_accent: (
  50 : #e0f5f9,
  100 : #b3e7f0,
  200 : #84d8e7,
  300 : #58c8db,
  400 : #40bdd3,
  500 : #277986,
  600 : #32a2b7,
  700 : #2c8d9e,
  800 : #287986,
  900 : #20575c,
  A100 : #EDEDED,
  A200 : #84FFFF,
  A400 : #d7e4e6,
  A700 : #00B8D4,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #fafafa,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);

$forensics_primary: (
    50 : #e9e3e6,
    100 : #c9b9c0,
    200 : #a58b97,
    300 : #805c6d,
    400 : #65394d,
    500 : #4a162e,
    600 : #431329,
    700 : #3a1023,
    800 : #320c1d,
    900 : #220612,
    A100 : #ff5f96,
    A200 : #ff2c75,
    A400 : #f80055,
    A700 : #df004d,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #ffffff,
        A400 : #ffffff,
        A700 : #ffffff,
    )
);

$forensics_accent: (
    50 : #f4e2e7,
    100 : #e3b7c4,
    200 : #d1879d,
    300 : #be5776,
    400 : #b03358,
    500 : #a20f3b,
    600 : #9a0d35,
    700 : #900b2d,
    800 : #860826,
    900 : #750419,
    A100 : #ffa3af,
    A200 : #ff7082,
    A400 : #ff7082,
    A700 : #ff2440,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #ffffff,
        A700 : #ffffff,
    )
);

$psychology_primary: (
  50 : #e8e5ec,
  100 : #c6bdcf,
  200 : #a091af,
  300 : #7a658e,
  400 : #5e4476,
  500 : #41235e,
  600 : #3b1f56,
  700 : #321a4c,
  800 : #2a1542,
  900 : #1c0c31,
  A100 : #a76dff,
  A200 : #893aff,
  A400 : #6a07ff,
  A700 : #5f00ec,
  contrast: (
      50 : #000000,
      100 : #000000,
      200 : #000000,
      300 : #ffffff,
      400 : #ffffff,
      500 : #ffffff,
      600 : #ffffff,
      700 : #ffffff,
      800 : #ffffff,
      900 : #ffffff,
      A100 : #000000,
      A200 : #ffffff,
      A400 : #ffffff,
      A700 : #ffffff,
  )
);

$psychology_accent: (
  50 : #f3eef6,
  100 : #e2d5e8,
  200 : #cfb9d9,
  300 : #bc9dc9,
  400 : #ad88be,
  500 : #9f73b2,
  600 : #976bab,
  700 : #8d60a2,
  800 : #835699,
  900 : #72438a,
  A100 : #f5e1ff,
  A200 : #e3aeff,
  A400 : #e3aeff,
  A700 : #c962ff,
  contrast: (
      50 : #000000,
      100 : #000000,
      200 : #000000,
      300 : #000000,
      400 : #000000,
      500 : #ffffff,
      600 : #ffffff,
      700 : #ffffff,
      800 : #ffffff,
      900 : #ffffff,
      A100 : #000000,
      A200 : #000000,
      A400 : #000000,
      A700 : #000000,
  )
);

$marine_primary: (
    50 : #e0eaeb,
    100 : #b3cacd,
    200 : #80a7ac,
    300 : #4d838b,
    400 : #266972,
    500 : #004e59,
    600 : #004751,
    700 : #003d48,
    800 : #00353e,
    900 : #00252e,
    A100 : #67d8ff,
    A200 : #34cbff,
    A400 : #01bdff,
    A700 : #00abe6,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #ffffff,
    )
);

$marine_accent: (
    50 : #e0f2f2,
    100 : #b3dfde,
    200 : #80cac8,
    300 : #4db4b1,
    400 : #26a4a1,
    500 : #009490,
    600 : #008c88,
    700 : #00817d,
    800 : #007773,
    900 : #006561,
    A100 : #95fffa,
    A200 : #62fff8,
    A400 : #e0f2f2,
    A700 : #15fff4,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);
