<mat-nav-list class='sidenav-container' fxLayout='column'>
  <!-- search -->
  <app-sidenav-search class='search' [(searchText)]='searchString' (searchComplete)='onSearchComplete()'>
  </app-sidenav-search>

  <!-- expand controls moved to toolbar arrow button (issue #2: single control) -->

  <!--tree-->
  <div class='tree-scroll-container right-direction'>
    <mat-tree *ngIf='treeService' [dataSource]='treeService.flatDataSource' [treeControl]='treeService.flatTreeControl' class='tree'>
      <mat-tree-node class='node left-direction'
                     *matTreeNodeDef='let node'
                     matTreeNodePadding matTreeNodePaddingIndent='8'
                     routerLinkActive='active-menu-link'>
        <div class='mat-tree-node' [class.bold]='node.isBold' [class.accent]='node.isAccent'>
          <button mat-icon-button disabled *ngIf='node.entityType !== 7 && node.entityType !== 8'></button>

          <a class='router-link clickable' *ngIf='node.routing && (node.isAvailableInDemo || !treeService.isDemoMode)'
             [routerLink]="['./']" [queryParams]='{topicId: node.entityId}'
             (click)='onRouterLinkClick()' [class.unavailable]="!node.isAvailableInDemo && treeService.isDemoMode">
            {{node.header}}
          </a>
          <a class='router-link clickable' *ngIf='node.routing && (!node.isAvailableInDemo && treeService.isDemoMode)'
             (click)='onUnavailableClick()' [class.unavailable]="!node.isAvailableInDemo">
            {{node.header}}
          </a>
          <span class='clickable font-nunito' *ngIf='!node.routing'  [class.unavailable]="!node.isAvailableInDemo">
            {{node.header}}
          </span>
        </div>
      </mat-tree-node>

      <mat-tree-node class='node left-direction'
                     *matTreeNodeDef='let node; when: treeService.hasNestedChild'
                     matTreeNodePadding matTreeNodePaddingIndent='8'>
        <div class='mat-tree-node' [class.bold]='node.isBold' [class.accent]='node.isAccent'>
          <button mat-icon-button (click)='toggleDescendants(node)' *ngIf='node.entityType !== 8'>
            <mat-icon class='mat-icon-rtl-mirror'>
              {{treeService.flatTreeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
            </mat-icon>
          </button>

          <span class='clickable font-nunito node-level-{{node.level}}' [class.unavailable]="!node.isAvailableInDemo && treeService.isDemoMode" (click)='toggleDescendants(node)'>
            {{node.header}}
          </span>
        </div>
      </mat-tree-node>
    </mat-tree>
  </div>
</mat-nav-list>
