<form #resetPasswordForm="ngForm" name="resetPasswordForm" class="full-page-form custom-dialog">
  <mat-card class="main-card" fxLayout="column" fxLayoutGap="10px">

    <div fxLayout="row">
      <img class="logo" src="assets/images/logo.svg" fxFlexAlign="center">
      <div class="header-container" fxFlexAlign="center">
        <span class="header">
          {{registration? strings.setYourPassword : strings.resetYourPassword}}
        </span>
      </div>
    </div>

    <div class="devider"></div>

    <app-form-label [text]="strings.password"></app-form-label>
    <mat-form-field floatLabel="never" class="form-field">
      <input required type='password' [(ngModel)]="data.password" matInput name="password" #passwordModel="ngModel" placeholder="{{strings.passwordPlaceholder}}" />
      <mat-error *ngIf="passwordModel.hasError('required')">{{strings.requiredFieldError}}</mat-error>
      <mat-hint>{{strings.passwordHint}}</mat-hint>   
    </mat-form-field>

    <button
      mat-raised-button
      class="form-button"
      color="primary"
      fxFlexAlign="end"
      type="submit"
      (click)="onSubmit(resetPasswordForm)"
      [disabled]="!resetPasswordForm.valid"
    >
      {{strings.submit}}
    </button>

  </mat-card>
</form>
<div class="bg-img"></div>
