@import '../../../styles/variables.scss';

.container {
  flex-direction: column;
  box-sizing: border-box;
  display: flex;
  place-content: stretch flex-start;
  align-items: stretch;
  height: 100%;
  flex: 1 1 auto;
  overflow: hidden;
}

.header-row {
  flex-direction: row;
  box-sizing: border-box;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 60px;
  margin-bottom: 10px;
  padding: 0 20px;
}

.batch-header{
  font-size: 18px;
  color: $primary;
  font-family: $nunito;
  font-weight: bold;
}

.field-title{
  font-size: 16px;
  color: $primary;
  font-family: $nunito;
}

.spoiler-summary{
  font-size: 16px;
  color: $primary;
  font-family: $nunito;
  cursor: pointer;
}

.spolier[open] .spoiler-summary{
  margin-bottom: 10px;
}

.access-code{
  margin-left: 20px;
}
