@import "../../styles/variables.scss";

.container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.sidenav-container {
  /* When the sidenav is not fixed, stretch the sidenav container to fill the available space. This
     causes `<mat-sidenav-content>` to act as our scrolling element for desktop layouts. */
  flex: 1;
  min-height: calc(100vh - 100px);
  z-index: 1;
}

.side-nav {
  top: 0px;
  bottom: 0;
  left: 0;
  position: absolute;
  min-width: 250px;
  overflow: hidden !important;
}

.side-nav > .mat-drawer-backdrop.mat-drawer-shown {
  background-color: rgba(255, 255, 255, 0);
}

.toolbar {
  height: 100px;
  padding: 20px;
  font-family: "Nunito", sans-serif;
}

.header-icon {
  width: 60px;
}

.sub-title {
  font-weight: bold;
  margin-left: 20px;
  font-size: 20px;
  flex: 1 1 auto;
  box-sizing: border-box;
  flex-direction: row;
  display: flex;
  align-items: center;
  place-content: center;
}

.menu-container {
  margin-right: 20px;
}

.user-menu-button {
  font-size: 18px;
  cursor: pointer;
}

.initials-label {
  padding-left: 8px;
  padding-right: 8px;
  border-radius: 2px;
  background-color: $accent;
}

.menu-label {
  font-size: 18px;
  cursor: pointer;
}

.menu-icon {
  color: $accent;
}

.tick {
  margin-right: 0px !important;
}

.menu-button {
  margin-right: 20px;
}

.content-container {
  margin-left: 3px;
  padding-top: 10px;
  height: calc(100vh - 110px);
  position: relative;
}
