<mat-expansion-panel hideToggle class="expansion-panel main-term-panel" #expansionPanel>
  <mat-expansion-panel-header [ngClass]='{"expansion-term-header": true, "first": isFirst}'>
    <mat-panel-title class="expansion-term-header-title">
      <mat-icon>
        navigate_next
      </mat-icon>
      <span>{{header}}</span>
    </mat-panel-title>
  </mat-expansion-panel-header>

  <div fxLayout="column" fxLayoutAlign="start stretch" class="definition-panel">
    <app-learning-material-shadow-dom-node [learningContent]="learningContent"></app-learning-material-shadow-dom-node>
  </div>
</mat-expansion-panel>
