<div class="container" fxLayout="column" fxLayoutGap="20px">

    <div fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="center center">
        <input (change)="onFileSelected($event)" #fileInput type="file" id="file" accept=".json">
        <button mat-raised-button class="auto-form-button" color="accent" (click)="uploadFile()" type="button" [disabled]="!fileToUpload">
            {{strings.upload | uppercase}}
        </button>        
        <button mat-raised-button class="auto-form-button" color="accent" (click)="mapIntro()" type="button">
            Map intro
        </button>
    </div>    

    <div *ngIf="resultLog">
        <div *ngFor="let log of resultLog">{{log}}</div>
    </div>

    <div class="mat-table" fxLayout="column">
        <div color="primary" class="mat-header-row">
            <div class="mat-header-cell">{{strings.name | titlecase}}</div>
            <div class="mat-header-cell">{{strings.lastUpload | titlecase}}</div>
            <div class="mat-header-cell">{{strings.lastRelease | titlecase}}</div>
            <div class="mat-header-cell mat-column-contextMenu"></div>
        </div>
        <div *ngFor="let course of courses" class="mat-row">
            <div class="mat-cell">
                {{course.name}}
            </div>
            <div class="mat-cell">{{formatDate(course.lastUploadDateTimeUtc)}}</div>
            <div class="mat-cell">{{formatDate(course.lastReleaseDateTimeUtc)}}</div>
            <div class="mat-cell mat-column-contextMenu">
                <button mat-icon-button class="context-menu-button" (click)="publishCourse(course)">
                    <mat-icon>file_upload</mat-icon>
                </button>
            </div>
        </div>
    </div>

</div>