@import './variables.scss';
@import '~@angular/material/theming';

@mixin base-styles-color($config-or-theme) {
  $color-config: mat-get-color-config($config-or-theme);
  $primary-palette: map-get($color-config, 'primary');
  $accent-palette: map-get($color-config, 'accent');

  .custom-question-tooltip{
    background-color: mat-color($accent-palette, 500);
  }

  .form-field .mat-form-field-infix {
    outline: solid 2px mat-color($primary-palette, 500) !important;
  }

  .mat-form-field-disabled .mat-form-field-infix {
    outline: solid 2px mat-color($primary-palette, 100) !important;
  }

  .devider {
    background-color: mat-color($primary-palette, 500);
  }

  .slim-devider {
    background-color: mat-color($primary-palette, 500);
  }

  .dialog-header {
    color: mat-color($primary-palette, 500) !important;
  }

  .component-title {
    color: mat-color($primary-palette, 500);
  }

  .bordered-form-button {
    color: mat-color($accent-palette, 500) !important;
    border: mat-color($accent-palette, 500) solid 2px !important;
  }

  .auto-bordered-form-button {
    color: mat-color($accent-palette, 500) !important;
    border: mat-color($accent-palette, 500) solid 2px !important;
  }

  .auto-bordered-form-button:disabled {
    border: none !important;
  }

  .custom-dialog {
    .header {
      color: mat-color($primary-palette, 500);
    }
  }

  .full-page-form {
    background-color: mat-color($primary-palette, 500);
  }

  .header-accent-background {
    background-color: mat-color($accent-palette, A400);
  }

  .navigation-path {
    color: mat-color($primary-palette, 500);
  }

  .level-group {
    background-color: mat-color($accent-palette, A400);
  }

  .accent-label {
    color: mat-color($accent-palette, 500);
  }

  .accent-background-container {
    background-color: mat-color($accent-palette, A400);
  }

  .primary-color-container {
    color: mat-color($primary-palette, 500) !important;
  }

  .search-field .mat-form-field-flex {
    border: solid 2px mat-color($primary-palette, 500) !important;
    background-color: mat-color($accent-palette, '500-contrast');
  }

  .search-field {
    color: mat-color($primary-palette, 500);
    width: 100%;
  }

  .sidenav-container {
    background-color: mat-color($accent-palette, A400);
  }

  // .content-card{
  //   background-color: mat-color($accent-palette, A400);
  // }

  .bordered-dialog-panel {
    position: relative !important;
    overflow: visible !important;
    // padding-top: 25px !important;

    .mat-dialog-container {
      border: 5px solid mat-color($primary-palette, 500);
      border-radius: 20px;
    }

    .mat-dialog-content {
      max-height: 80vh !important;
    }

    .close-button {
      border: 3px solid white !important;
      font-size: 30px;
      text-align: center;
      box-shadow: none !important;
      font-family: $distro;

      .mat-button-wrapper {
        margin-right: -3px;
        margin-top: -3px;
        line-height: 36px !important;
      }
    }
  }

  //region mat-table
  .mat-header-row {
    color: mat-color($primary-palette, 500) !important;
  }

  //endregion mat-table
}

@mixin base-styles-theme($theme) {
  $color: mat-get-color-config($theme);

  @if $color  !=null {
    @include base-styles-color($theme);
  }
}