

.custom-header-label {
  // display: flex;
  // flex-direction: column;
  // align-items: center;
  text-align: start;
  //margin-left: 5px;
  //margin-top: 10px;
  //margin-bottom: 10px;
  //float: left;

  white-space: normal !important;
  line-height: 20px !important;
}
