@import '~@angular/material/theming';

@mixin quiz-result-history-sidenav-color($config-or-theme) {
  $color-config: mat-get-color-config($config-or-theme);
  $primary-palette: map-get($color-config, 'primary');
  $accent-palette: map-get($color-config, 'accent');

  .quiz-history-sidenav-container {
    background-color: mat-color($accent-palette, A400);
    color: mat-color($primary-palette, 500);
  }

  .quiz-history-label {
    color: mat-color($accent-palette, 500);
  }

  .bzz-label {
    color: mat-color($accent-palette, 500);
  }
}

@mixin quiz-result-history-sidenav-theme($theme) {
  $color: mat-get-color-config($theme);

  @if $color != null {
    @include quiz-result-history-sidenav-color($theme);
  }
}
