.learning-material-search-result {
  margin: 10px;
  padding: 10px;
  cursor: pointer;

  .learning-material-search-result-title {
    font-weight: 500;
  }

  .learning-material-search-result-text {
    font-size: 12px;
  }
}
