@import '../../../styles/variables.scss';

.container {
  min-height: calc(100vh - 100px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.greetingPanel {
  font-size: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: bold;
  margin-bottom: 20px;
  color: $primary;
  padding-top: 10px;
  font-family: $nunito;

  p {
   text-align: center;
  }
}

.school-name{  
  font-size: 24px;
  color: $primary;
  font-weight: bold;
  margin-bottom: 10px;
  text-align: center;
  font-family: $nunito;
}

.icons-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;

  .icons-list-item {
    margin: 5px;
  }
}
